<div class="container-fluid px-4">
    <h1 class="mt-4 text-center">Crear Empleado</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#" data-view="dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#" data-view="employee">Empleados</a></li>
        <li class="breadcrumb-item active">Crear empleado</li>
    </ol>

    <div class="container w-100 border border-3 border-primary rounded p-4 mt-3">
        <form id="create-employee-form" action="" method="post">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="first_name" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
                <div class="col-md-6">
                    <label for="last_name" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required>
                </div>
                <div class="col-md-6">
                    <label for="document_type" class="form-label">Tipo de documento</label>
                    <select id="document_type" class="form-select" name="document_type" required>
                        <option selected disabled value="">Seleccionar...</option>
                        <option value="Cedula de Ciudadania">Cédula de Ciudadanía</option>
                        <option value="Tarjeta de extranjeria">Tarjeta de Extranjería</option>
                        <option value="Cedula de extranjeria">Cédula de Extranjería</option>
                        <option value="Numero de identificacion tributaria">NIT</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Permiso especial de permanencia">PEP</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="document_number" class="form-label">Número de documento</label>
                    <input type="text" class="form-control" id="document_number" name="document_number" required>
                </div>
                <div class="col-md-6">
                    <label for="gender" class="form-label">Género</label>
                    <select id="gender" class="form-select" name="gender" required>
                        <option selected disabled value="">Seleccionar...</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="address" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-md-6">
                    <label for="city_id" class="form-label">Ciudad</label>
                    <select id="city_id" class="form-select" name="city_id" required>
                        <option selected disabled value="">Seleccionar...</option>
                        </select>
                </div>

                <hr class="my-4">

                <div class="col-md-6">
                    <label for="role_id" class="form-label">Rol</label>
                    <select id="role_id" class="form-select" name="role_id" required>
                        <option selected disabled value="">Seleccionar...</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="position_id" class="form-label">Cargo</label>
                    <select id="position_id" class="form-select" name="position_id" required>
                        <option selected disabled value="">Seleccionar...</option>
                        </select>
                </div>
                <div class="col-md-6">
                    <label for="departament_id" class="form-label">Departamento</label>
                    <select id="departament_id" class="form-select" name="departament_id" required>
                        <option selected disabled value="">Seleccionar...</option>
                        </select>
                </div>
                <div class="col-md-6">
                    <label for="vacation_days_available" class="form-label">Días de vacaciones disponibles</label>
                    <input type="number" class="form-control" id="vacation_days_available" name="vacation_days_available" value="15" required>
                </div>

                <hr class="my-4">

                <div class="col-md-6">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="col-md-6">
                    <label for="confirm_password" class="form-label">Repetir Contraseña</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>

                <div class="col-12 text-center mt-4">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>