<aside class="d-flex flex-column flex-shrink-0 p-3 bg-light h-100">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">el propio menú</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link link-dark" aria-current="page" data-view="dashboard">
        Dashboard
      </a>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="btn border-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Empleados
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#" data-view="employee">Empleados</a></li>
        <li><a class="dropdown-item" href="#" data-view="position">Cargos en la empresa</a></li>
        <li><a class="dropdown-item" href="#" data-view="departament">Departamentos</a></li>
      </ul>
    </li>
  </ul>
</aside>